# Enable lombok verbose logging for debugging
lombok.verbose=true

# Log to console, helpful when troubleshooting
lombok.log.fieldName=log
lombok.log.fieldIsStatic=true

# Enable all features but disable problematic ones
lombok.addLombokGeneratedAnnotation=false
lombok.addJavaxGeneratedAnnotation=false
lombok.anyConstructor.addConstructorProperties=true
lombok.extern.findbugs.addSuppressFBWarnings=false

# For @Slf4j and log creation
lombok.log.custom.declaration=org.slf4j.Logger log = org.slf4j.LoggerFactory.getLogger(${TYPE}.class)

# Set the chain to avoid null pointer exceptions
lombok.accessors.chain=true

# Configure equalsAndHashCode and toString to provide cleaner output
lombok.equalsAndHashCode.callSuper=call
lombok.toString.callSuper=call
lombok.toString.doNotUseGetters=true

# Customize @FieldDefaults behavior
lombok.fieldDefaults.defaultPrivate=true
lombok.fieldDefaults.defaultFinal=false

# Setting config.stopBubbling to true to ensure this config is used
config.stopBubbling=true

# Only process annotations on paths we care about (exclude test code)
lombok.processAnnotations=true
lombok.copyableAnnotations+=org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations+=org.springframework.beans.factory.annotation.Value

# Explicitly disable delombok output to standard output
lombok.delombok.output=toString 